{% load static %}

<!DOCTYPE html>

<html lang="ja">

<head>
     <meta charset="UTF-8">
     <title>アフターコロナへの羅針盤</title>

     <style>

      body { background:black;}

     </style>

</head>

<body>
<img src = "https://source.unsplash.com/random/2000x400" alt="">
<p><font color="yellow">昭和モデルは完全に消え去り、<strong>コロナ</strong>、<strong>AI</strong>、世界のあらゆる所で価値観の変化が起こっています。</p>
<p><font color="yellow">価値観が変化する中で今後どのように生きていくか、多くの方が羅針盤を失った状況になっていると思います。本サイトのコンセプトは、そのような方々へ今後の羅針盤の一つとして役立てていけたら幸いでございます。
<p><font color="yellow">職業に対しての価値観も変化していくと思います。</p>
<p><font color="yellow">本サイトでは皆様の適性を踏まえ、コンサルティングを行います(個人情報は抜き取りません)。</p>
<p><font color="yellow">あえて少々ぶっ飛んだ内容を提示することにより、皆様の従来の価値観の殻を破るきっかけになればと存じます</p>

<a href="../test"><font color="orange">遷移</a>

</body>
</html>